/* Header */
header {
  background-color: #4A90E2; /* Warna biru untuk header */
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-img {
  width: 150px; /* Ukuran logo */
  height: auto;
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .nav-active {
    display: flex;
  }
}
